<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="dashboard-container">


      <!-- Header -->
      <!-- Top Navbar -->
<div class="top-navbar">

    <h2>Secure File Sharing System</h2>

    <a href="/logout">
        <button class="logout-top-btn">
            Logout
        </button>
    </a>

</div>

<!-- Welcome Section -->
<div class="welcome-section">

    <h1>Welcome {{ username }} 👋</h1>

    <p>
        Manage your files securely and efficiently
    </p>

</div>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}

      <div class="flash-message">{{ message }}</div>

      {% endfor %} {% endif %} {% endwith %}

      <!-- Upload Section -->
      <div class="upload-section">
        <form action="/upload"
      method="POST"
      enctype="multipart/form-data">

    <div class="upload-box">

        <input type="file" name="file">

        <button type="submit">
            Upload File
        </button>

    </div>

</form>
      </div>

      <!-- Files Section -->
      <div class="files-section">
        <h2>Uploaded Files</h2>

        {% for file in files %}

        <div class="file-card">
          <div class="file-info">
            <h3>{{ file.filename }}</h3>

            <small>
              Uploaded: {{ file.uploaded_at.strftime('%d %b %Y, %I:%M %p') }}
              IST
            </small>
          </div>

          <div class="file-actions">
            <a href="{{ url_for('download_file', filename=file.filename) }}">
              <button type="button">Download</button>
            </a>

            <a href="{{ url_for('delete_file', filename=file.filename) }}">
              <button type="button" class="delete-btn">Delete</button>
            </a>
          </div>
        </div>

        {% endfor %}
      </div>

    
    </div>
  </body>
</html>
