<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

<script>
//for dark mode toggle
//togle dark mode
function toggleDarkMode() {

    document.body.classList.toggle(
        "dark-mode"
    );

    const themeText =
        document.getElementById(
            "themeToggleText"
        );

    if (
        document.body.classList.contains(
            "dark-mode"
        )
    ) {

        localStorage.setItem(
            "theme",
            "dark"
        );

        themeText.innerText =
            "Light Mode";

    } else {

        localStorage.setItem(
            "theme",
            "light"
        );

        themeText.innerText =
            "Dark Mode";
    }
}

/* Load Saved Theme */

window.onload = function() {

    const savedTheme =
        localStorage.getItem("theme");

    const themeText =
        document.getElementById(
            "themeToggleText"
        );

    if (savedTheme === "dark") {

        document.body.classList.add(
            "dark-mode"
        );

        themeText.innerText =
            "Light Mode";

    } else {

        themeText.innerText =
            "Dark Mode";
    }
}

//for sharable link
function showShareLink(token) {

    const shareUrl =
        window.location.origin +
        "/share/" +
        token;

    prompt(
        "Copy this share link:",
        shareUrl
    );
}



function toggleMenu() {

    const menu =
        document.getElementById("dropdownMenu");

    menu.classList.toggle("show");
}

// Close when clicking outside

window.onclick = function(event) {

    if (!event.target.matches('.profile-btn')) {

        const dropdowns =
            document.getElementsByClassName(
                "dropdown-menu"
            );

        for (let i = 0; i < dropdowns.length; i++) {

            let openDropdown = dropdowns[i];

            if (
                openDropdown.classList.contains('show')
            ) {

                openDropdown.classList.remove('show');
            }
        }
    }
}
</script>

   <!--body of page starts here -->
  <body>
    
      <!-- Header -->
     <!-- Top Navbar -->
<div class="top-navbar">

    <h2>
        Secure File Sharing System
    </h2>

    <div class="nav-buttons">

   

    <!-- Profile Dropdown -->

    <div class="profile-menu">

        <button
            class="profile-btn"
            onclick="toggleMenu()"
        >
            👤
        </button>

        <div
            class="dropdown-menu"
            id="dropdownMenu"
        >

         <a href="/trash">
            Trash
        </a>

            <a href="#">
                Settings
            </a>

            <a href="#"
    onclick="toggleDarkMode()"
    id="themeToggleText">
      Dark Mode
  </a>

            <a href="/logout">
                Logout
            </a>

        </div>

    </div>

</div>

</div>

<!-- Actual Dashbord start here -->
<div class="dashboard-container">

      <!-- Welcome Section -->
      <div class="welcome-section">
        <h1>Welcome {{ username }} 👋</h1>

        <p>Manage your files securely and efficiently</p>
      </div>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}

      <div class="flash-message">{{ message }}</div>

      {% endfor %} {% endif %} {% endwith %}

      <!-- Dashboard Stats -->
      <div class="stats-container">
        <div class="stat-card">
          <h3>Total Files</h3>

          <p>{{ total_files }}</p>
        </div>

        <div class="stat-card">
          <h3>Storage Used</h3>

          <p>{{ format_file_size(total_storage) }}</p>
        </div>
      </div>

<!-- Recent Uploads -->
<div class="recent-section">

    <h2>Recent Uploads</h2>

    {% for recent in recent_files %}

        <div class="recent-item">

            <span>
                {{ get_file_icon(recent.filename) }}
                {{ recent.filename }}
            </span>

        </div>

    {% endfor %}

</div>

      <!-- Upload Form -->
  <form
      action="/upload"
      method="POST"
      enctype="multipart/form-data"
  >

      <div class="upload-box" id="drop-zone">

          <p class="drop-text">
              Drag & Drop Files Here
          </p>

          
<span class="or-text">or</span>

          <input
              type="file"
              name="file"
              id="file-input"
          >

          <button type="submit">
              Upload File
          </button>

      </div>

  </form>

      <!-- Files Section -->
      <div class="files-section">
        <!-- Search + Sort Form -->
        <form action="/dashboard" method="GET" class="search-form">
          <input
            type="text"
            name="search"
            placeholder="Search files..."
            value="{{ request.args.get('search', '') }}"
          />

          <!-- Sort Dropdown -->
          <select name="sort">
            <option value="">Sort By</option>

           <option
    value="latest"
    {% if request.args.get('sort') == 'latest' %}
        selected
    {% endif %}
>
    Latest
</option>

            <option
    value="oldest"
    {% if request.args.get('sort') == 'oldest' %}
        selected
    {% endif %}
>
    Oldest
</option>

            <option
    value="largest"
    {% if request.args.get('sort') == 'largest' %}
        selected
    {% endif %}
>
    Largest
</option>

            <option
    value="smallest"
    {% if request.args.get('sort') == 'smallest' %}
        selected
    {% endif %}
>
    Smallest
</option>

            <option
    value="az"
    {% if request.args.get('sort') == 'az' %}
        selected
    {% endif %}
>
    A-Z
</option>
          </select>

          <button type="submit">Apply</button>

          <a href="/dashboard">
            <button type="button">Clear</button>
          </a>
        </form>

        <h2>Uploaded Files ({{ files|length }})</h2>

        {% if files|length == 0 %}

        <p>No matching files found.</p>

        {% endif %} {% for file in files %}

        <div class="file-card">
          <div class="file-info">
            <h3>{{ get_file_icon(file.filename) }} {{ file.filename }}</h3>

            <div class="file-meta">
              <span> 📦 {{ format_file_size(file.file_size) }} </span>

              <span>
                🕒 {{ file.uploaded_at.strftime('%d %b %Y, %I:%M %p') }} IST
              </span>
            </div>
          </div>

          <div class="file-actions">

                <a
        href="/preview/{{ file.filename }}"
        target="_blank"
    >

        <button class="preview-btn">
            Preview
        </button>

    </a>

            <a href="{{ url_for('download_file', filename=file.filename) }}">
              <button type="button">Download</button>
            </a>

          <button
              class="share-btn"
              onclick="showShareLink('{{ file.share_token }}')"
          >
              Share
          </button>

            <a
      href="/delete/{{ file.filename }}"  >
              <button type="button" class="delete-btn">Delete</button>
            </a>

          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </body>

  <!-- Footer -->

<footer class="footer">

    © 2026 Secure File Sharing System
    <br>
    Made by Puru

</footer>
</html>
